* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}
#section2, #section3, #section4, footer{
    margin-top: 20px;
}


header, #section1, footer {
    background-color: #1F2937;
}

header {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

header :first-child{
    margin-right: auto;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-second {
    font-size: 18px;
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

#section1 {
    display: flex;
}

#section1 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#section1 img {
    flex-basis: 100%;
}

#section1 button {
    color: white;
    background-color: #3882f6;
}

/* section2 */
#section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section2 div {
    display: flex;
    gap: 10px;
}

#section2 div :first-child {
    margin-left: auto;
}
#section2 div :last-child {
    margin-right: auto;
}

.img-label {
    display: flex;
    flex-direction: column;
}

#section2 img {
    border: 2px solid blue;
}

#section2 h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

/* section 3 */
#section3 {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style:italic;
}
#section3 .author {
    text-align: end;
    font-weight: 800;
}
#section3 p {
    margin: 0 30%;
}

/* section4 */
#section4 {
    align-self: center;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #3882f6;
    color: white;
}

#section4 div {
    display: flex;
    flex-direction: column;
}

/* footer */
footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
}

